@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --slightly-desaturated-cyan: #5fb4a2;
    --dark-blue: #203a4c;
    --grayish-dark-blue: #33323d;

    --very-light-gray: #fafafa;
    --light-gray: #EAEAER;
    --bright-red: #f43030;

    --font-family-heading: 'Ibarra Real Nova', serif;
    --font-family-body: 'Public Sans', sans-serif;

    --heading-1-font-size: 50px;
    --heading-1-line-height: 50px;
    --heading-1-letter-spacing: -0.45em;

    --heading-2-font-size: 40px;
    --heading-2-line-height: 42px;
    --heading-2-letter-spacing: -0.36em;

    --heading-3-font-size: 32px;
    --heading-3-line-height: 35px;
    --heading-3-letter-spacing: -0.29em;

    --body-1-font-size: 16px;
    --body-1-line-height: 30px;

    --body-2-font-size: 15px;
    --body-2-line-height: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--very-light-gray);
    color: var(--dark-blue);
    padding: 10px 165px 0;
}

.button {
    background-color: var(--bright-red);
    color: var(--very-light-gray);
}

.heading-1 {
    font-family: var(--font-family-heading);
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
    font-weight: 700;
}

.body-1 {
    font-family: var(--font-family-body);
    font-size: var(--body-1-font-size);
    line-height: var(--body-1-line-height);
}
