.main > div {
    height: 60rem;
    position: relative;
}

.main img {
    width: 100%;
    height: 100%;
}

.main .description {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35.7rem;
    width: 44.5rem;
    background-color: #fafafa;
    padding: 6.5rem 0;
}

.main .description p {
    width: 39.5rem;
}

.main .description button {
    position: absolute;
    bottom: 0;
}

.about {
    display: flex;
    gap: 12.5rem;
    height: 60rem;
}

.about img {
    width: 54rem;
    height: 100%;
}

.about > div {
    width: 35rem;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    padding: 5rem 0;
}

.about > div p {
    padding: 2.8rem 0 2.4rem;
}
